<footer class="section pt-0">
  <div class="container is-max-desktop">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <div class="container level is-mobile">
          <p class="level-item">
            <a
              class="button is-light"
              href="https://github.com/AlexanderMisyura"
              target="_blank"
            >
              <span class="icon is-large">
                <i class="fa-brands fa-square-github fa-2xl"></i>
              </span></a>
          </p>
          <p class="level-item">
            <a
              class="button is-light"
              href="https://www.linkedin.com/in/alexander-misyura-940021239/"
              target="_blank"
            >
              <span class="icon is-large">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
              </span></a>
          </p>
          <p class="level-item">
            <a
              class="button is-light"
              href="https://twitter.com/alexandermisyu1"
              target="_blank"
            >
              <span class="icon is-large">
                <i class="fa-brands fa-square-twitter fa-2xl"></i>
              </span></a>
          </p>
          <p class="level-item">
            <a
              class="button is-light"
              href="https://alexandermisyura.github.io"
              target="_blank"
            >
              <span class="icon is-large">
                <i class="fa-solid fa-user-tie fa-2xl"></i>
              </span></a>
          </p>
        </div>
        <div class="box is-shadowless has-background-warning is-inline-block py-1 px-3">&copy; 2022, Alexander Misyura</div>
      </div>
    </div>
  </div>
</footer>