<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/socister-nav.png" alt="socister logo" />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu {{!is-active}}">
      <div class="navbar-end">

        <div class="navbar-item">
          <form action="/search" method="GET">
            <div class="field has-addons">
              <div class="control">
                <input
                  class="input is-small"
                  type="search"
                  placeholder="Search"
                  name="search"
                />
              </div>
              <div class="control">
                <button type="submit" class="button is-small">
                  <span class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <a class="navbar-item" href="/post/add">
          <span class="pr-2">New post</span>
          <figure class="image is-24x24">
            <img
              class="is-rounded"
              src="/img/socister-single.png"
              alt="add new post"
            />
          </figure>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <span class="pr-2">
              {{loggedUser.name}}
            </span>
            <figure class="image is-24x24">
              <img
                src="{{loggedUser.image}}"
                alt="profile image"
                class="is-rounded"
              />
            </figure>
          </div>

          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/profile/{{loggedUser.id}}">
              <span class="icon"><i class="fa-regular fa-user"></i></span>
              <span>Profile</span>
            </a>
            <a class="navbar-item">
              <span class="icon"><i class="fa-regular fa-bookmark"></i></span>
              <span>Saved</span>
            </a>
            <a class="navbar-item">
              <span class="icon"><i class="fa-regular fa-envelope"></i></span>
              <span>Friends</span>
            </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/logout">
              <span class="icon"><i
                  class="fa-solid fa-arrow-right-from-bracket"
                ></i></span>
              <span>Log Out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>