<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/8dde09376c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="has-navbar-fixed-top">
    {{> _navbar}}
    <main class="section">
      {{{body}}}
    </main>
    {{> _footer}}

    <script src="/js/navbar.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/comment.js"></script>
  </body>
</html>