<div class="is-top-right-position is-toggle-hidden">
  <form action="/friends/{{browsedUser._id}}" method="POST">
    <button
      class="button is-link is-light is-rounded"
      type="submit"
    >
      <span class="icon has-text-dark">
        <i class="fa-solid fa-user-plus fa-xl"></i>
      </span>
    </button>
  </form>
</div>