<form action="/login" method="POST">
  <input type="email" name="email" placeholder="email" required>
  <input type="password" name="password" placeholder="password" required>
  <button type="submit">send</button>
</form>