/* Stick footer to bottom if there is little content in main*/

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* Custom styling */

.logo {
  background-color: #ffe08a;
}

html {
  background-color: #ffe08a;
  background-image: url("../img/Random256Grunge05_purple.png");
}

.is-max-width-100 {
  max-width: 100%;
}
.is-cropped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-top-left-position {
  position: absolute;
  left: .5em;
  top: .5rem;
  z-index: 100;
}

.is-top-right-position {
  position: absolute;
  right: .5em;
  top: .5rem;
  z-index: 100;
}