<div class="message box is-danger has-text-centered is-size-4">
  <p>404</p>
  <p>PAGE NOT FOUND</p>
</div>
<div class="box has-text-centered">
  <a href="/" class="button is-primary">main page</a>
</div>